<header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Vinicius Alencar</a>
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#home">Introdução<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#explore">Habilidades 
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#adventure">Adventure 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#blog">Projetos 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact
                    </a>
                  </li>
              </ul>
            </div>
          </div>
          </nav>
    </header>
    <div style="background-image: url('img01/background.png');" class="jumbotron jumbotron-fluid height100p banner" id="home">
        <div class="container h100">
          <div class="containerBox h100">
              <div>
                  <h1 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" style="font-size: 4rem;">Resumo do Perfil</h1>
                  <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                      Atuo principalmente no lado do servidor (Back-End) de aplicações web e mobile possuindo mais  com tecnologias nesse ambito. Dentre as principais linguagens e as quais tenho maior experiencia estão JavaScript (Node.js, TypeScript) e Python (Django).
                  </p>
              </div>
          </div>
        </div>
      </div>
      <section class="sec1" id="explore">
          <div class="container">
              <div class="row">
                  <div class="offset-sm-2 col-sm-8">
                      <div class="headerText text-center">
                          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Conhecimentos | Habilidades</h2>
                          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Resumo dos meus principais conhecimentos em determinadas tecnologias e as quais tenho mais aptidão em trabalhar.</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                          <div class="imgBx">
                              <img src="img01/Javascript.png" class="img-fluid">
                          </div>
                          <div class="content">
                              <h3>JavaScript<br><span>Node.js, TypeScript</span></h3>                              
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="imgBx">
                            <img src="img01/python.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <h3>Python<br><span>POO, MVC, Django</span></h3>                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img01/db.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <h3>Banco de Dados<br><span>MySql, SqLite, SQL</span></h3>                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img01/versionamentodecódigo].png" class="img-fluid">
                        </div>
                        <div class="content">
                            <h3>Versionamento de Código<br><span>Git e GitHub</span></h3>                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img01/java-logo.webp" class="img-fluid">
                        </div>
                        <div class="content">
                            <h3>Java<br><span>POO</span></h3>                              
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="imgBx">
                            <img src="img01/poo.png" class="img-fluid">
                        </div>
                        <div class="content">
                            <h3>Programação Orientada a Objetos<br><span>POO</span></h3>                              
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </section>
      <section style="background-image: url('img01/background.jpg');" class="sec2" id="adventure">
          <div class="container h100">
              <div class="contentBox h100">
                  <div id="divBtn">
                      <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" style="font-size: 2rem;">Adventure is Everywere</h2>
                      <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate nesciunt alias pariatur cumque omnis minima magnam nisi, voluptatum eveniet. Ducimus dicta recusandae vero aperiam mollitia optio corporis, distinctio aut magnam.</p>
                      <a href="#" class="btn btnD1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Read More</a>
                  </div>
              </div>
          </div>
      </section>
      <section class="blog" id="blog">
          <div class="container">
                <div class="row">
                    <div class="offset-sm-2 col-sm-8">
                        <div class="headerText text-center">
                            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Our Latest Post</h2>
                            <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam dolorem incidunt sapiente, necessitatibus nobis obcaecati libero repudiandae nihil recusandae esse velit doloribus voluptatibus facere pariatur voluptatem molestias. Quisquam, atque iusto.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                            <div class="imgBx">
                                <img src="img02/img01.jpg" class="img-fluid">
                            </div>
                            <div class="content">
                                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quae corrupti omnis pariatur beatae amet quod ipsa, odit natus corporis consequuntur ducimus molestiae incidunt ad earum quis aut nam eos.</h1>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis perferendis hic necessitatibus esse unde, amet facilis tempora porro maxime aliquam numquam nostrum tempore molestiae perspiciatis dolore! Voluptas saepe quis fuga!</p>
                                <a href="#" class="btn btnD2">Read More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="blogpost">
                            <div class="imgBx">
                                <img src="img02/img02.jpg" class="img-fluid">
                            </div>
                            <div class="content">
                                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quae corrupti omnis pariatur beatae amet quod ipsa, odit natus corporis consequuntur ducimus molestiae incidunt ad earum quis aut nam eos.</h1>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis perferendis hic necessitatibus esse unde, amet facilis tempora porro maxime aliquam numquam nostrum tempore molestiae perspiciatis dolore! Voluptas saepe quis fuga!</p>
                                <a href="#" class="btn btnD2">Read More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                            <div class="imgBx">
                                <img src="img02/img03.jpg" class="img-fluid">
                            </div>
                            <div class="content">
                                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quae corrupti omnis pariatur beatae amet quod ipsa, odit natus corporis consequuntur ducimus molestiae incidunt ad earum quis aut nam eos.</h1>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis perferendis hic necessitatibus esse unde, amet facilis tempora porro maxime aliquam numquam nostrum tempore molestiae perspiciatis dolore! Voluptas saepe quis fuga!</p>
                                <a href="#" class="btn btnD2">Read More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="blogpost" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                            <div class="imgBx">
                                <img src="img02/img04.jpg" class="img-fluid">
                            </div>
                            <div class="content">
                                <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quae corrupti omnis pariatur beatae amet quod ipsa, odit natus corporis consequuntur ducimus molestiae incidunt ad earum quis aut nam eos.</h1>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis perferendis hic necessitatibus esse unde, amet facilis tempora porro maxime aliquam numquam nostrum tempore molestiae perspiciatis dolore! Voluptas saepe quis fuga!</p>
                                <a href="#" class="btn btnD2">Read More</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </section>
      <section style="background-image: url('img02/img05.jpg');" class="contact" id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="headerText text-center">
                          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Contact Us</h2>
                          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                      </div>
                  </div>
              </div>
              <div class="row clearfix">
                  <div class="offset-sm-2 col-sm-8">
                      <form data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control textarea"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btnD1">Send</button>
                        </div>
                      </form>
                  </div>                  
              </div>
          </div>
      </section>
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <ul class="sci">
                          <li><i class="fa fa-facebook"></i></a></li>
                          <li><i class="fa fa-twitter"></i></a></li>
                          <li><i class="fa fa-linkedin"></i></a></li>
                          <li><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                      <p class="cpryt"><a href="#">© Copyrigth 2020 Nature Template | by <a href="#">Vinicius Alencar</a></p>
                  </div>
              </div>
          </div>
      </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
    $(document).scroll(function() {
        $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
    });
    </script>